<% include partials/header %>

<div  id="titleBox">
    <div class="container">
        <h1 id="meTitle">| &nbspCraig Pirrall&nbsp |</h1>
        <h2>What can we build together?</h2>
        <a href="#samples"><i id="scrollDown" class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
    </div>
</div>


<!--========================
        SAMPLES
========================-->

<!--Show projects on homepage ordered by order id-->
<div class="container sections" id="samples">
    <h1>- Samples -</h1>
    <div class="row text-center thumbContainer">
        <% var orderId = []; %>
        <!--for each project, add the order id to the array-->
        <% projects.forEach(function(project){ %>
            <% orderId.push(project.order); %>
        <% }); %>
        <!--sort the array from lowest to highest-->
        <% var sortedOrderId = orderId.sort(function(a, b){return a-b}); %>
        <!-- Show projects by calling from array by order-->
        <% for(var i = 0; i < sortedOrderId.length; i++) { %>
            <% projects.forEach(function(project){ %>
                <% if(project.order === sortedOrderId[i]) { %>
                    
                    <div class="col-xs-12 col-md-6 col-lg-4 nohover">
                        <div class="thumbnail indexThumbnail">
                            <a class="nohover" style="color: black;" href="/projects/<%= project._id %>">
                                <h2><%= project.title %></h2>
                                <img src="<%= project.thumbnail %>">
                                <div class="captions">
                                    <%= project.description %><br /><br />
                                    <%= project.tech %>
                                </div>
                            </a>
                        </div> <!--end thumbnail-->
                        <hr class="indexHr">
                    </div>
                    
                <% }; %>
            <% }); %> <!--end forEach-->
        <% }; %>  <!-- end for --> 
    </div> <!--end row-->
</div>  <!-- End samples container -->

<!--========================
        ABOUT
========================-->

<div class="container sections" id="about">
    <h1>- About -</h1>
    <div class="container">
        <p>I'm a full-stack web developer with a focus on creativity. I love making things. It doesn’t matter if it’s developing applications, creating art, or building Lego with my children. Creativity is what keeps life exciting. I have been fortunate to have had the freedom in my professional career to exercise creativity through the building of products, services, systems, and staff. Through training and education I've also helped others to be creative and build their own dreams. 
            <br /> <br />
            What can we build together? If I can be of assistance to you or your organization I'd love to <a href="#contact">hear</a> from you.</p>        
    </div>
    
</div>

<!--========================
        HIRE ME
========================-->

<div class="container sections" id="hire">
    <h1>- Hire Me! -</h1>
    <div class="container">
        <p>Thank you for your interest. I am available for permanent full-time employment or on a per project basis. You can read the details of my work history and all of the traditional professional information at my <a href="https://www.linkedin.com/in/craig-pirrall-58815631/" target="_blank">Linkedin</a> profile. I am actively looking for web development positions in America, Canada, or Japan but I would be happy to discuss opportunities in other locations as well. Let's <a href="#contact">talk!</a></p>
    </div>
    
</div>


<!--========================
        CONTACT
========================-->

<div class="container sections" id="contact">
    <h1>- Contact -</h1>
    <div class="row">
        <div class="container col-xs-12 col-md-4" id="email">
            <a href="mailto:craigpir@outlook.com"><i class="fa fa-envelope contactIcons" aria-hidden="true"></i></a>
        </div>
        <div class="container col-xs-12 col-md-4" id="linkedin">
            <a href="https://www.linkedin.com/in/craig-pirrall-58815631/" target="_blank"><i class="fa fa-linkedin-square contactIcons" aria-hidden="true"></i></a>
        </div>
        <div class="container col-xs-12 col-md-4" id="twitter">
            <a href="https://twitter.com/Pixelsavvy72" target="_blank"><i class="fa fa-twitter contactIcons" aria-hidden="true"></i></a>
        </div>

    </div>
</div>

<% include partials/footer %>